<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>US States</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <label for="minPopulation">Min Population:</label>
  <input type="number" id="minPopulation" name="minPopulation" value="0">
  <label for="maxPopulation">Max Population:</label>
  <input type="number" id="maxPopulation" name="maxPopulation" value="40000000">
  <div id="statesContainer"></div>

  <script src="script.js"></script>
</body>
</html>
